@use 'variables.scss' as *;


@mixin menu-responsive {
    position: fixed;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    height: 60px;
    min-height: 60px;
    width: 100vw;

    padding: 0 20px 0 20px;
    margin-inline: auto;

    z-index: 99;
    box-shadow: none;

    background-color: $bg-color;

    transition: box-shadow 0.3s;
}
@mixin menu-icon {
    position: absolute;
    right: 20px;
        

    display: block;
    width: 25px;

    border: none;
    border-top: 2px solid $secondary-color;

    background: none;
        
    cursor: pointer;
    z-index: 100;

    transition-duration: 0.3s;
    &::after, &::before {
        content: '';
        position: relative;

        display: block;
        height: 2px;
        width: 25px;
            
        margin-top: 6px;
        background-color: $secondary-color;

        transition-duration: 0.4s;
    }
}
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-column {
    display: flex;
    flex-direction: column;
}
@mixin left-relative {
    position: relative;
    margin-left: 280px;
}
@mixin tablet {
    @media screen and (max-width:990px){
        @content;
    }
}
@mixin mobile {
    @media screen and (max-width:770px){
        @content;
    }
}
@mixin mobile-s {
    @media screen and (max-width:590px){
        @content;
    }
}