$primary-color: #666666;
$secondary-color: #222222;
$tertiary-color: #929292;
$button-color: #BCCCDC;
$button-shadow-color: #959da533;
$bg-color: #F4F6FF;
$border-color: #9292927E;

$header-width: 280px;
$box-shadow-bottom: 0px 0.1px 0px $primary-color;