.main-about {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh 700px 1fr;
}
@media screen and (max-width: 770px) {
  .main-about {
    grid-template-rows: 630px 400px 1fr;
  }
}
@media screen and (max-width: 590px) {
  .main-about {
    grid-template-rows: 630px 300px 1fr;
  }
}
.main-about-head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  text-align: center;
  background-color: #fff;
}
.main-about-head h2 {
  font-size: 60px;
  font-family: "Merriweather", serif;
  font-weight: 400;
  margin-bottom: 30px;
}
@media screen and (max-width: 990px) {
  .main-about-head h2 {
    font-size: 55px;
  }
}
@media screen and (max-width: 770px) {
  .main-about-head h2 {
    font-size: 45px;
  }
}
.main-about-head span {
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.main-about-photo {
  padding: 15px;
}
.main-about-photo img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 590px) {
  .main-about-photo img {
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.main-about-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}
.main-about-text h2 {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
}
.main-about-text p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  max-width: 710px;
  color: #929292;
}
.main-about-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-bottom: 50px;
}
.main-about hr {
  margin-inline: auto;
  opacity: 0.1;
  width: 90%;
  border-color: #929292;
}
.main .button {
  font-size: 15px;
  font-weight: 500;
  border: none;
  padding: 12px 32px;
  cursor: pointer;
  color: #fff;
  background-color: #E8A48D;
  transition-duration: 0.4s;
}
.main .button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 3px 10px 0px rgba(34, 34, 34, 0.2666666667);
}

.main-form-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 15px;
}
.main-form-content h2 {
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  margin: 20px 0px;
}
.main-form-content p {
  max-width: 500px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #929292;
  text-align: center;
  margin-bottom: 50px;
}
.main-form {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
}
.main-form #name, .main-form #email, .main-form #subject, .main-form #message {
  width: 100%;
  max-width: 500px;
  padding: 10px 15px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  outline: 0;
  border: 1px solid rgba(146, 146, 146, 0.1764705882);
}
.main-form #message {
  height: 140px;
}
.main hr {
  margin-bottom: 20px;
  margin-inline: auto;
  opacity: 0.1;
  width: 90%;
  border-color: #929292;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "CircularAir-Book", sans-serif;
  list-style: none;
  scroll-behavior: smooth;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.loader .loader-style {
  animation: is-rotating 1s infinite;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 6px solid #929292;
  border-top-color: #222222;
}
@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}

.body {
  display: none;
}

.header {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  width: 280px;
  padding: 50px;
  box-shadow: 0.1px 0px 0px #666666;
  background-color: #fff;
}
@media screen and (max-width: 990px) {
  .header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 60px;
    min-height: 60px;
    width: 100vw;
    padding: 0 20px 0 20px;
    margin-inline: auto;
    z-index: 99;
    box-shadow: none;
    background-color: #fff;
    transition: box-shadow 0.3s;
  }
}
.header-logo {
  height: 30px;
  width: 100%;
  margin-bottom: 35px;
}
.header-logo img {
  height: 100%;
}
@media screen and (max-width: 990px) {
  .header-logo {
    margin-bottom: 0;
  }
}
.header-menu-icon {
  display: none;
}
@media screen and (max-width: 990px) {
  .header-menu-icon {
    position: absolute;
    right: 20px;
    display: block;
    width: 25px;
    border: none;
    border-top: 2px solid #222222;
    background: none;
    cursor: pointer;
    z-index: 100;
    transition-duration: 0.3s;
  }
  .header-menu-icon::after, .header-menu-icon::before {
    content: "";
    position: relative;
    display: block;
    height: 2px;
    width: 25px;
    margin-top: 6px;
    background-color: #222222;
    transition-duration: 0.4s;
  }
}
.header-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.header-nav-ul-about {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.header-nav-ul-about li {
  padding-block: 4px;
}
.header-nav-ul-icons {
  display: flex;
  gap: 20px;
}
.header-nav-ul-icons i {
  font-size: 16px;
}
.header-nav a {
  font-size: 14px;
  text-decoration: none;
  color: #666666;
  transition-duration: 0.3s;
}
.header-nav a:hover {
  color: #222222;
}
@media screen and (max-width: 990px) {
  .header-nav {
    display: none;
  }
}

.submenu {
  display: none;
}
@media screen and (max-width: 990px) {
  .submenu {
    position: fixed;
    top: -50px;
    left: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    box-shadow: inset 0px 2px 10px 0px rgba(34, 34, 34, 0.062745098);
    transition-timing-function: ease-in;
  }
  .submenu-nav {
    width: 100%;
  }
  .submenu-nav-ul {
    padding-block: 10px;
  }
  .submenu-nav-ul a {
    display: block;
    padding: 6px 20px;
    font-size: 14px;
    text-decoration: none;
    color: #222222;
  }
}

header .header-menu-icon.active {
  border-top: transparent;
}
header .header-menu-icon.active::after {
  transform: rotate(135deg);
  bottom: 9px;
}
header .header-menu-icon.active::before {
  transform: rotate(-135deg);
  bottom: 1px;
}

.modal .modal-options .close-icon.active::after {
  transform: rotate(135deg);
  bottom: 9px;
}
.modal .modal-options .close-icon.active::before {
  transform: rotate(-135deg);
  bottom: 1px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5019607843);
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition-duration: 0.2s;
}
.modal-container {
  display: grid;
  grid-template-columns: 1fr 30px;
  max-width: 1280px;
  margin-inline: auto;
}
@media screen and (max-width: 990px) {
  .modal-container {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
  }
}
.modal-options {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding-block: 20px;
}
@media screen and (max-width: 990px) {
  .modal-options {
    height: 10%;
    padding-block: 0px;
  }
}
.modal-options .close-icon {
  position: absolute;
  right: 20px;
  display: block;
  width: 25px;
  border: none;
  border-top: 2px solid #222222;
  background: none;
  cursor: pointer;
  z-index: 100;
  transition-duration: 0.3s;
  border-top: 2px solid transparent;
  top: 25px;
  right: 2.5px;
  transition-duration: 0.1s;
}
.modal-options .close-icon::after, .modal-options .close-icon::before {
  content: "";
  position: relative;
  display: block;
  height: 2px;
  width: 25px;
  margin-top: 6px;
  background-color: #222222;
  transition-duration: 0.4s;
}
@media screen and (max-width: 990px) {
  .modal-options .close-icon {
    top: 21px;
    right: 20px;
  }
}
.modal-options .close-icon::after {
  transform: rotate(0deg);
  bottom: 0px;
}
.modal-options .close-icon::before {
  transform: rotate(0deg);
  bottom: 0px;
}
.modal-content {
  height: 100vh;
  width: 100%;
  padding: 20px;
}
@media screen and (max-width: 990px) {
  .modal-content {
    height: 90%;
  }
}
.modal-content .image {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.modal-content img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main {
  margin-left: 280px;
  background-color: #fff;
}
.main-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 300px;
  grid-template-areas: "img-01   img-02" "img-03   img-02" "img-03   img-04" "img-05   img-06" "img-07   img-08" "img-09   img-08" "img-09   img-10" "img-11   img-12" "img-13   img-14" "img-15   img-14" "img-15   img-16" "img-17   img-18" "img-19   img-20" "img-21   img-20" "img-21   img-22";
  gap: 30px;
  padding: 15px;
}
.main-images div {
  overflow: hidden;
}
.main-images-01 {
  grid-area: img-01;
}
.main-images-02 {
  grid-area: img-02;
}
.main-images-03 {
  grid-area: img-03;
}
.main-images-04 {
  grid-area: img-04;
}
.main-images-05 {
  grid-area: img-05;
}
.main-images-06 {
  grid-area: img-06;
}
.main-images-07 {
  grid-area: img-07;
}
.main-images-08 {
  grid-area: img-08;
}
.main-images-09 {
  grid-area: img-09;
}
.main-images-10 {
  grid-area: img-10;
}
.main-images-11 {
  grid-area: img-11;
}
.main-images-12 {
  grid-area: img-12;
}
.main-images-13 {
  grid-area: img-13;
}
.main-images-14 {
  grid-area: img-14;
}
.main-images-15 {
  grid-area: img-15;
}
.main-images-16 {
  grid-area: img-16;
}
.main-images-17 {
  grid-area: img-17;
}
.main-images-18 {
  grid-area: img-18;
}
.main-images-19 {
  grid-area: img-19;
}
.main-images-20 {
  grid-area: img-20;
}
.main-images-21 {
  grid-area: img-21;
}
.main-images-22 {
  grid-area: img-22;
}
.main-images img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition-duration: 0.4s;
}
.main-images img:hover {
  cursor: pointer;
  filter: brightness(50%);
  transform: scale(1.05);
}
@media screen and (max-width: 770px) {
  .main-images {
    grid-template-columns: 1fr;
    grid-template-areas: "img-01" "img-02" "img-02" "img-03" "img-03" "img-04" "img-05" "img-06" "img-07" "img-08" "img-08" "img-09" "img-09" "img-10" "img-11" "img-12" "img-13" "img-14" "img-14" "img-15" "img-15" "img-16" "img-17" "img-18" "img-19" "img-20" "img-20" "img-21" "img-21" "img-22";
    gap: 10px;
    padding: 10px;
  }
}
@media screen and (max-width: 990px) {
  .main {
    padding-top: 60px;
    margin-left: 0;
  }
}

.footer {
  margin-left: 280px;
  padding-block: 10px 25px;
  background-color: #fff;
}
.footer-copy {
  text-align: center;
  color: #666666;
}
.footer-copy p {
  font-size: 14px;
}
@media screen and (max-width: 990px) {
  .footer {
    margin-left: 0;
  }
}

#toUp {
  position: fixed;
  right: 40px;
  bottom: -36px;
  height: 36px;
  width: 36px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.103);
  background-color: #fff;
  transition: 0.2s;
}
@media screen and (max-width: 990px) {
  #toUp {
    right: 35px;
  }
}
#toUp #arrow {
  position: absolute;
  top: 14px;
  left: 11.75px;
}
#toUp #arrow::after, #toUp #arrow::before {
  content: "";
  position: absolute;
  height: 12.5px;
  width: 12.5px;
  transform: rotate(45deg);
}
#toUp #arrow::after {
  top: 5px;
  transform: rotate(45deg);
  background-color: #fff;
}
#toUp #arrow::before {
  background-color: #666666;
  transition: 0.2s;
}
#toUp:hover #arrow::before {
  background-color: #222222;
}/*# sourceMappingURL=style.css.map */